:root {
 /* Colores base */
    --primary-dark: #000000; 
    --primary-medium: #222121; 
    --primary-light: #ffffff; 
    --secondary-dark: #373636; 
    --neutral-light: #f0e8e0;    
    --neutral-medium: #d6baaa;   
    --neutral-dark: #5b5151; 
    --secondary-light: #fafafa; 
    --beige-medium: #b38f7e;
    --beige-dark: #4A4A4A;
    
    /* Colores de acento */
    --accent-orange: #faa85e; 
    --accent-blue:#697bff;
    --accent-lavender: #7c5295;   
    --accent-mint: #d1e6d1; 
    /* --accent-mint: #e4f1e4; */       
    /* --accent-lavender: #8fa3ff; */
    
    /* Colores de texto */
    --text-primary: #000000;
    --text-secondary: #373636;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    color: var(--text-primary);
    background-color: var(--secondary-light);
  }
  
  .container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1rem;
    
  }
  
  /* Header */
  header {
    position: sticky;
    top: 0;
    background: var(--secondary-light);
    border: 2px solid var(--secondary-dark);
    border-radius: 30px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    z-index: 1000;
    margin: 1rem auto 2rem;
    max-width: 1300px;
    width: 95%;
    min-height: 85px;
    padding: 0;
  }
  
  .header-heart {
    width: 70px;
    height: 70px;
    margin-right: auto;
    margin-left: 200px;
    animation: heartbeat 2.3s ease-in-out infinite;
    object-fit: contain;
}
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espacio entre logo y menú */
    padding: 10px 20px; 
    align-items: center;
    
  }
  
  /* Menú principal horizontal */
  .nav-links {
    position: relative;
  }
  
  .nav-links ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links a {
    color: var(--primary-dark);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    padding: 0.3rem 0.8rem;
    font-size: 1.1rem;
  }
  
  .nav-links a:hover {
    color: var(--accent-lavender);
  }
  
  /* Menú hamburguesa */
  .menu-checkbox {
    display: none;
  }
  
  .menu-toggle {
    display: none;
    font-size: 2rem;
    color: var(--accent-lavender);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 8px;
    transition: background 0.3s;
  }
  
  .menu-toggle:hover {
    background: rgba(255,255,255,0.2);
  }
  
  /* Hero Section */
  .hero { 
    color: var(--primary-dark);
    background-color : var(--secondary-light);
    text-align: center;
    padding-top: 0;
    position: relative; /* Para mantener todo contenido correctamente */
    min-height: 500px;
    overflow: hidden;
  }
  
  .hero h2 {
    margin-top: 5.5rem;
    margin-bottom:1rem;
    font-size: clamp(2rem, 3vw, 3rem);
    transition: font-size 0.3s ease; /* Responsivo fluido */
  }
  
  .hero p{
    font-size: clamp(1.2rem, 1.2vw, 1.2rem);
    line-height: 1.4;
    transition: font-size 0.3s ease;
  }

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 0px;
  margin-top: 0px
}

 .hero-images {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1300px; 
  margin: 0 auto; 
  align-items: flex-start; 
  padding-left: 120px; 
  position: relative;
  height: 500px; /* Altura fija para posicionamiento absoluto */
 }

/* Imagen mano*/
.hero-image.hand {
  position: absolute;
  top: 200px; /* Ajuste vertical basado en altura del contenedor */
  left: 270px; 
  width: clamp(250px, 30vw, 380px); /*clamp(MÍNIMO, VALOR BASE, MÁXIMO)*/
  max-width: none;
  height: auto;
  z-index: 1;
  transform: translate(-50%, -50%); /* Centra el punto desde left/top */  
} 

.hero-content {
  position: absolute;
  right: 280px;
  text-align: right;
  width: 80%;
  margin-top: 50px; 
  padding-right: 0%; 
  z-index: 2;
  
}

/* Animación float para el corazón*/
@keyframes heartbeat {
    0% { transform: scale(1); }
    15% { transform: scale(1.2); }
    30% { transform: scale(1); }
    45% { transform: scale(1.1); }
    60% { transform: scale(1); }
}
  
  .secciones {
    display: block; 
    max-width: 1300px;
    width: 95%;
    margin: 0 auto 2rem;
    padding: 2rem 0;
  }

  .seccion-1 {
    background-color: var(--secondary-light); 
    padding: 5rem 0;
  }

  .seccion-2 {
    background-color: var(--secondary-light); 
    padding: 5rem 0; 
  }

  .seccion-3 {
    
    background-color: var(--secondary-light); 
    padding: 5rem 0; 
  }

  .seccion-4 {
    background-color: var(--secondary-light); 
    padding: 5rem 0; 
  }

  .container-card {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto; 
    padding: 0 2rem;
    box-sizing: border-box;
  }

  .card {
    background-color: var(--secondary-light); 
    border: 2px solid var(--accent-mint);
    border-radius: 30px;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    text-align: center;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem auto; 
    box-sizing: border-box; 
  }

  /* Estilos para las imágenes */
.imagen-tarjeta {
  margin-bottom: 5px;
  position: relative;
  animation: float 3s linear infinite;
}

.imagen-tarjeta img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

/* Animación de flotación para las imágenes */
@keyframes float {
  0% {
    transform: translateY(0) scale(1);
  }
  25% {
    transform: translateY(-10px) scale(1.1);
  }
  50% {
    transform: translateY(-20px) scale(1.2);
  }
  75% {
    transform: translateY(-10px) scale(1.1);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

  /*Hover de las tarjetas*/
  .card-1:hover {
    transform: translateY(-5px) scale(1.02);
    background-color: var(--secondary-light);
    color: var(--primary-dark);
    border-color: var(--accent-lavender);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  }

  .card-2:hover {
    transform: translateY(-5px) scale(1.02);
    background-color: var(--secondary-light);
    color: var(--primary-dark);
    border-color: var(--accent-lavender);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  }

  .card-3:hover {
    transform: translateY(-5px) scale(1.02);
    background-color: var(--secondary-light);
    color: var(--primary-dark);
    border-color: var(--accent-lavender);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  }

  .card-4:hover {
    transform: translateY(-5px) scale(1.02);;
    background-color: var(--secondary-light);
    color: var(--primary-dark);
    border-color: var(--accent-lavender);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  }
  
  .card h3 {
    color: var(--primary-dark);
    font-size: 1.8rem;
    line-height: 1.4;
    margin-bottom: 5px;
  }
  
  .card p {
    color: var(--text-secondary);
    font-size: 1.1rem; 
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  /* Estilos para los enlaces */
  .card a {
    display: inline-block;
    margin-top: 1rem;
    background-color: var(--accent-lavender);
    color: var(--primary-light);
    padding: 0.75rem 1.5rem;
    border-radius: 30px;
    transition: all 0.3s ease;
  }
  
  /* Colores específicos para cada tarjeta */
    .card-1 { 
    width: 100%; /* Ocupará el 100% del container-card */
    max-width: none; 
  }
  
  .card-1 a {
    background-color: var(--card-button-1);
    color: var(--card-text-button-1);
  }
  
  .card-1 a:hover {
    background-color: var(--card-hover-background-1); /*Color del hover del botón*/
    border-color: var(--accent-blue); 
    color: var(--primary-dark); /*Color de la letra del botón*/
  }
  
  .card-2 {
    width: 100%; 
    max-width: none; 
  }
  
  .card-2 a {
    background-color: var(--beige-medium);
    color: var(--primary-light);
  }
  
  .card-2 a:hover {
    background-color: var(--accent-lavender); 
  }
  
  .card-3 {
    width: 100%;
    max-width: none; 
  }
  
  .card-3 a {
    background-color: var(--accent-lavender);
    color: var(--primary-light);
  }
  
  .card-3 a:hover {
    background-color: var(--accent-orange);
  }

  .card-4 {
    width: 100%;
    max-width: none; 
  }
  
  .card-4 a {
    background-color: var(--accent-lavender); 
    color: var(--primary-light);
  }
  
  .card-4 a:hover {
    background-color: var(--accent-orange);
  }

  /* Footer */
  footer {
    background: var(--primary-light);
    padding: 2rem 0 0rem;
  }
  
  .copyright {
    background: var(--primary-dark);
    border: 2px solid var(--primary-medium);
    color: var(--accent-mint);
    padding: 0.5rem 0.5rem;
    border-radius: 30px;
    text-align: center;
    max-width: 1300px;
    margin: 0 auto 2rem;
  }
  
  .aviso-legal {
    font-size: 0.85rem;
    color: var(--text-secondary);
    line-height: 1.7;
    border-top: 1px solid var(--secondary-dark);
    padding: 1rem 0 ;
  }

  /* Contacto*/
.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1.8%;
  }

.contacto .title{
    font-size: 2rem;
    color: var(--primary-dark);
    text-align: left;
  }

.formulario {
    width: 70%;
    height: 50%;
    font-size: 1.5rem;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    padding: 1%;
    text-align: justify;
    border-bottom: --primary-dark 1px solid;
    line-height: 2rem;
  }

label {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--primary-medium);
    margin-top: 1.5%;
    display: inline-block;
  }

.input {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 1.5%;
    border-radius: 3px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: var(--primary-dark) 2.5px solid;
    background-color: transparent;
    color: var(--primary-medium);
  }

.input:hover{
    border-color: var(--neutral-medium);
    transition: background-color 0.3s;
  }

.option:hover{
    background-color: var(--neutral-medium);
    transition: background-color 0.3s;
  }

.consentimiento{
    font-size: 1rem;
    text-align: center;
  }

.button {
    background-color: var(--beige-dark);
    color: var(--primary-light);
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 2%;
    
  }

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 4%;
  }

.button:hover {
    background-color: var(--neutral-medium);
    transition: 0.3s ease;
  }

  /* Responsive Celular */
@media (max-width: 768px) {
  
  .menu-toggle {
  display: block;
  position: absolute; /* sale del flex */
  right: 20px;                
  top: 40px;                    
  transform: translateY(-50%);
  z-index: 2;
  }

  .nav-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative; /* para anclar el menú absoluto */
  }

   .nav-container #menu-toggle:checked ~ .nav-links {
    display: block;
    transform: translateY(0);
  }


  /* abre y cierra menú */
  .nav-links {
    display: none; /* Ocultar menú en celular */
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    background: var(--secondary-light);
    padding: 1rem;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    transform: translateY(-10px);
    transition: transform 0.3s;
    z-index: 1001;
  }

  .nav-links ul {
      flex-direction: column;
      gap: 1rem;
  }

  /* Mostrar menú cuando el botón está marcado*/
  #menu-toggle:checked ~ .nav-links {
    display: block;
    transform: translateY(0);
  }

  .header-heart {
  margin: 0;               
  flex-shrink: 0; /*para que no se encoja*/
  }

  .hero {
    min-height: auto;
    padding: 0.5rem 0;
    
  }

  .hero-container {
    flex-direction: column; /*Para que la imagen y el texto estén centrados*/
    align-items: center;
  }

  .hero-content {
    position: static;
    width: 90%;
    margin: -40px auto 20px;
    text-align: center;
    transform: none;
    order: 2;
  }

  .hero-images {
    flex-direction: column;
    max-width: 90%;
    margin-bottom: -190px;
  }

  .hero-image.hand {
    position: static;
    transform: none;
    margin: 0 auto;
    max-width: 200px;
    transform: translateX(-50%) translateY(-20%);
  }

  .hero h2 {
    margin-top: 0;
    font-size: 1.8rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .secciones {
    grid-template-columns: 1fr;
    padding: 2rem 0;
  }

  .imagen-tarjeta img {
    width: 90px;
    height: 90px;
  }

  .contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
  }
    
  .formulario {
    width: 70%;
    height: 50%;
    font-size: 1.5rem;
    margin-top: 2%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 1%;
    text-align: justify;
    border-bottom: --primary-dark 1px solid;
    line-height: 2rem;
  }

}

/* Responsive Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  
  .container {
    padding: 0 2rem;
  }

  .menu-toggle {
  display: block;
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin-top: 0.5rem;
  margin-bottom: auto;
  z-index: 2;
  }

  .nav-container {
    position: relative; /*para posicionar el corazón */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .header-heart {
    width: 70px;
    height: 70px;
    animation: heartbeat 2.3s ease-in-out infinite;
    object-fit: contain;
    margin: 0; /* elimina margen que descentraba */
    flex-shrink: 0;
    
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 100%; /* el menú desplegable aparece abajo del header*/
    left: 0;
    width: 100%;
    background: var(--secondary-light);
    padding: 1rem;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    transform: translateY(-10px);
    transition: transform 0.3s;
    z-index: 0;
  }

  /* Menú hamburguesa*/
  #menu-toggle:checked ~ .nav-links {
    display: block;
    transform: translateY(0);
  }
  #menu-toggle:checked ~ .nav-container::before {
    content: '';
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: -1;
  }

  .hero {
    padding: 1rem 0;
    min-height: auto;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem; 
  }

  .hero h2 {
    font-size: 2rem;
    /* margin-left: 1.5rem; */
    margin: 0.8rem 0 0.5rem;
  }

  .hero p {
    font-size: 1rem;
    margin: 0; 
  }

  .hero-images {
    padding-left: 0;
    margin-bottom: 0;
    height: auto;
  }

  .hero-image.hand {
    position: static;
    width: clamp(200px, 40vw, 230px);
    max-width: none;
    margin: -90px auto 0; /* sube y centra */
    transform: none; /* evita desplazamientos */
  }


  .hero-content {
    position: static;
    width: 80%;
    text-align: center;
    margin: 0;
    order: 2;
    transform: none;
  }

  .secciones {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
  }

  .card {
    padding: 1.5rem;
  }

  .imagen-tarjeta {
    margin-top: 10px;
  }

  .nav-links ul {
    gap: 1rem;
  }

  .nav-links a {
    font-size: 1rem;
  }

  .contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
  }
    
  .formulario {
      width: 70%;
      height: 50%;
      font-size: 1.5rem;
      margin-top: 2%;
      margin-left: 2.5%;
      margin-right: 2.5%;
      padding: 1%;
      text-align: justify;
      border-bottom: --primary-dark 1px solid;
      line-height: 2rem;
  }
}

/* =====================================================================/
/* ==================================================*/
/* Responsive Tablet Grande */
@media (min-width: 1024px) and (max-width: 1200px) {
  
  .container {
    padding: 0 2rem;
  }

  .header-heart {
    margin-left: 10%;
    padding: 0.7%;
  }

  .hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; 
  }

  .hero-content {
    position: static;
    width: 70%;
    top: auto;
    margin-top: 55px; 
    margin-right: 8rem;      
    text-align: center;
    z-index: 2;
  }

  .hero h2 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .hero-images {
    display: flex;
    flex-direction: row;
    padding-left: 120px;
    margin: 0 auto;
    position: relative;
    height: 500px;
    max-width: 1300px;
    width: 100%;
    align-items: flex-start;
  }

  .hero-image.hand {
    position: absolute;
    top: 200px;
    left: 170px;
    width: clamp(250px, 30vw, 380px);
    height: auto;
    /* transform: translate(-50%, -50%); */
    z-index: 1;
  }

  .secciones {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
  }

  .card {
    padding: 1.5rem;
  }

  .imagen-tarjeta {
    margin-top: 10px;
  }

  .nav-links ul {
    gap: 1rem;
  }

  .nav-links a {
    font-size: 1rem;
  }
}



